{% extends 'base.html' %}

{% block title %}
{% if post.title_tag %}
{{ post.title_tag }} | 
{% else %}
{{ post.title }} | 
{% endif %}
{% endblock %}

{% block content %}

<h1>{{post.title}}</h1>
<h5>By: {{post.author}}</h5>
<div class="d-flex align-items-end">
    <h6 class="w-100">Published: {{post.created_at}}</h6>
    <a href="{% url 'edit_post' post.pk %}" class="flex-shrink-1 btn btn-secondary">Edit</a>
</div>
<hr>
<br/>
<p>{{post.body}}</p>

<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}