{% extends 'base.html' %}

{% block title %}Change Password | {% endblock %}

{% block content %}

<h1>Change Password</h1>
<br/>

<div class="form-group mb-5">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update Password</button>
    </form>
</div>

<h5>Password Details:</h5>
<ul>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password must not be a commonly used password.</li>
    <li>Your password can't be entirely numeric.</li>
</ul>

{% endblock %}